<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>Appointment Contact Form</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{% static 'css/style_wizard.css' %}">


</head>

<body style="background: black;">

<div class="landing-page">
    <div class="form-appointment">
        <div class="wpcf7" id="wpcf7-f560-p590-o1">
            <form method="post" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
                {% csrf_token %}
                <div style="display: none;">
                    <input type="hidden" name="_wpcf7" value="560">
                    <input type="hidden" name="_wpcf7_version" value="3.5">
                    <input type="hidden" name="_wpcf7_locale" value="">
                    <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f560-p590-o1">
                    <input type="hidden" name="_wpnonce" value="dbb28877d5">
                </div>
                <div class="group" style="text-align: center;">
                    <div style="width: 100%; float: none;">
                        <h4>اطلاعات سامانه‌ی غذای خود را وارد کنید</h4>
                        <h6>نام</h6>
                        <span class="wpcf7-form-control-wrap text-680"><input type="text" name="first_name"
                                                                              id="first_name" value="{{ firstname }}"
                                                                              size="45"
                                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                              aria-required="true"
                                                                              placeholder=""></span><br>
                        <h6>نام خانوادگی</h6>
                        <span class="wpcf7-form-control-wrap email-680"><input type="text" name="last_name"
                                                                               id="last_name" value="{{ lastname }}"
                                                                               size="45"
                                                                               class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email"
                                                                               aria-required="true"
                                                                               placeholde=""></span><br>
                        <h6>ایمیل</h6>
                        <span class="wpcf7-form-control-wrap text-680"><input type="email" name="email" id="email"
                                                                              value="{{ email }}" size="45"
                                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                              aria-required="true"
                                                                              placeholder=""></span><br>
                        <h6>تلفن</h6>
                        <span class="wpcf7-form-control-wrap text-680"><input type="text" name="phone" id="phone"
                                                                              value="{{ phone }}" size="45"
                                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                              aria-required="true"
                                                                              placeholder=""></span><br>
                        <h6>رمز عبور جدید جهت عوض کردن رمز عبور</h6>
                        <span class="wpcf7-form-control-wrap text-680"><input type="password" name="new_pass"
                                                                              id="new_pass" value="" size="45"
                                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                              aria-required="true"
                                                                              placeholder=""></span><br>
                        <h6> تکرا رمز عبور جدید جهت عوض کردن رمز عبور</h6>
                        <span class="wpcf7-form-control-wrap text-680"><input type="password" name="new_pass_second"
                                                                              id="new_pass_second" value="" size="45"
                                                                              class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required"
                                                                              aria-required="true"
                                                                              placeholder=""></span><br>

                        <div style="text-align: center; padding-top: 1em; border-top: 1px solid rgb(153, 202, 129); margin-top: 1em;">
                            <input type="submit" value="ثبت" class="wpcf7-form-control wpcf7-submit">


                            <script src="{% static 'js/main_wizard.js' %}"></script>


                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>
