<!DOCTYPE html>
<html lang="en">
	<head>
        {% load static %}
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
		<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
		<title>داشبورد</title>
		<meta name="description" content="dashboard" />
		<meta name="keywords" content="Add keywords" />
		<meta name="author" content="MRZorro" />
		<!-- <link rel="shortcut icon" href="../favicon.ico">  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="{%static 'css/default.css'%}" />
		<link rel="stylesheet" type="text/css" href="{%static 'css/component.css'%}" />
        <script src="{% static 'js/modernizr.custom.js' %}"></script>
	</head>
	<body>
		<div class="container">	
			<header class="clearfix">
                <h1>داشبورد اطلاعات کاربری<span>!خدماتی که دریافت می کنی بر اساس اطلاعاتی است که بهم دادی، صحتش برای جفتمون مهمه</span>
                </h1>
                <div><h3 style="color:{{ color }}">{{ msg }}</h3></div>
			</header>
			<div class="main">
                <p style="color: {{ colorp }}; font-size: 24px; text-align: right;">{{ msgp }}</p>
                <p style="direction: rtl;font-size: 25px;">
                    برای این که بتونم بهت بگم چیا رزرو کردم و هر هفته بهت اعتبارتو اعلام کنم به رباتم توی تلگرام سر بزن
                    <br>
                    <a href="https://t.me/MRZORO_bot" style="color: #39b54a">لینک ربات</a><br/>
                    ممکنه واست پیش بیاد سلف یه غذایی که دوست داری و بهش نمره بالا دادی رو برخلاف انتظارت درست کنه و
                    مجبور بشی تجدید نظر کنی، یا ممکنه یه روز به روز هایی که قرار تو دانشگاه غذا بخوری اضافه بشه یا ازش
                    کم بشه. خلاصه هر وقت هر تغییری که خواستی رو میتونی از اینجا اعمال کنی.
					با امکاناتی که در منو سمت چپ در اختیارت گذاشتم میتونی علاوه بر تغییرات، اگر هنوز پرداختت کامل انجام نشده اقدام کنی یا میتونی قلکتو چک کنی اگر سکه هات کافی باشه مجانی حسابتو فعال کنی.
                    <br>قلک چیه؟ <br>
                    به ازای هر نفری که با نام کاربری تو ثبت نام کنه و حسابشو فعال کنه یه سکه میوفته تو قلکت و هر وقت 4
                    تا شد میتونی قلکتو بشکونی و یه ترم مجانی خدمت بگیری.
                    <br>
                    <br><br>
                    <span style="color: #39b54a">
                    چنتا سکه تو قلک داری: {{ coin }}
                    </span>
					</p>

				<div class="side">
					<nav class="dr-menu">
						<div class="dr-trigger"><span class="dr-icon dr-icon-menu"></span><a class="dr-label">حساب کاربری</a></div>
                        <br>
						<ul>
                            <li><a href="/changeinfo"><i class="material-icons">account_box</i> {{ username }}</a></li>
                            <li><a href="/change_dining_info/"><i class="material-icons">remove_from_queue</i> اطلاعات
                                سامانه </a></li>
                            <li><a href="/change_days"><i class="material-icons">event_available</i> روزها</a></li>
                            <li><a href="/prefered_food/change/"><i class="material-icons">favorite</i> اطلاعات
                                ترجیجی</a></li>
                            <li><a href="/self_select/"><i class="material-icons">select_all</i> انتخاب سلف‌ها</a></li>
                            <li><a href="/payment"><i class="material-icons">shopping_basket</i> پرداخت</a></li>
							<li><a href="/logout"><i class="material-icons">power_settings_new</i> خروج </a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div><!-- /container -->
		<script src="{%static 'js/ytmenu.js'%}"></script>
	</body>
</html>