<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>بازیابی رمز عبور</title>
    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/password_reset_message_style.css' %}">
</head>


<body style="background-color: #cfc7b8; font-family: iransans; direction: rtl;">

<div id="sc-password">
    <h1>فرآیند بازیابی رمزعبورت به پایان رسید</h1>
    <h3>رمزعبورت تنظیم شد حالا می‌تونی وارد بشی</h3>
    <a href="/login">همین الان وارد شو!</a>
</div>
</div>


</body>

</html>
