<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>بازیابی رمز عبور</title>

    {% load static %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/password_reset_message_style.css' %}">

</head>

<body style="background-color: #cfc7b8; font-family: iransans; direction: rtl;">

<div id="sc-password">
    <h1>میل بازیابی رمزعبور شما ارسال شد</h1>
    <h3>ما برای شما دستورالعمل تنظیم رمز عبور جدید را ارسال کردیم٬ اگر اکانتی با ایمیلی که شما وارد کردید وجود داشته
        باشد شما باید در زمان اندکی ایمیلی از طرف ما دریافت کنید. اگر ایمیلی دریافت نکرده‌اید ایمیلی را که وارد
        نموده‌اید کنترل نمایید و یا پوشه‌ی اسپم خود را بررسی نمایید. </h3>
</div>
</div>


</body>

</html>
