<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>پرداخت</title>

    {% load static %}
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>

    <link rel="stylesheet" href="{% static 'css/style_payment.css' %}">


</head>

<body>

<!-- Compiled and minified JavaScript -->
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>

<!--Begin Checkout-->

<div class="container">
    {#  <p class="help" style="color:#ffffff;">#}
    {#    Please review your bill and pay </p>#}
    <div class="box card-panel z-depth-3">
        <div class="merchant">
            <img height="200" style="margin-left: 20%;margin-right: auto;" src="{% static 'images/logo1.PNG' %}"/>
            <h5 class="center-align">مسترزرو</h5>
            <p>{{ date }}</p>
            <p>{{ time }}</p>
            <p style="text-align: center;color: #CE272D">{{ msg }}</p>


        </div>
        <div class="invoice">
            <table class="highlight">
                <thead>
                <tr>
                    <th style="width:90%;">خدمت</th>
                    <th class="right-align">مبلغ</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>رزرو اتوماتیک غذا برای یک ترم</td>
                    <td class="right-align">۱۰۰۰۰ تومن</td>
                </tr>
                </tbody>
            </table>
        </div>
        <form method="post">
            {% csrf_token %}
            <div class="payment">
                <h5 style="direction: rtl">انتخاب نحوه‌ی پرداخت</h5>

                <div class="credit-card-box card-panel z-depth-2 animation-element slide-left">
                    <div class="flip">
                        <div class="front">
                            <div class="container">

                                <ul class="list">
                                    <li class="list__item">
                                        <input type="radio" class="radio-btn" name="choice" id="a-opt"
                                               value="online_payment"/>
                                        <label for="a-opt" class="label">پرداخت اینترنتی با کارت بانکی</label>
                                    </li>
                                    <br>

                                    <li class="list__item">
                                        <input type="radio" class="radio-btn" name="choice" id="b-opt" value="coin"/>
                                        <label for="b-opt" class="label">قلکمو بشکون</label>
                                        <p><span style="color: #39b54a">
                                                 سکه‌هایی که تو قلک داری: {{ coin }}
                                        </span></p>
                                    </li>
                                    <br>

                                    <li class="list__item">
                                        <input type="radio" class="radio-btn" name="choice" id="c-opt"
                                               value="zorocode" checked/>
                                        <label for="c-opt" class="label">استفاده از زروکد</label>
                                    </li>
                                    <li>
                                        <input type="text" name="zorocode" id="zorocode" placeholder="زورو کد">
                                    </li>
                                </ul>

                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <button type="submit" class="col s12 btn-large green btn waves-effect waves-dark register"
                    style="width: 100%">پرداخت
            </button>

        </form>
        <a href="/dashboard" style="text-align: center;color: black;font-size: 11px;text-decoration: underline;">فعلا
            نمی‌خوام پرداخت کنم</a>
    </div>

</div>


<script>
    $(document).ready(function () {
        $('select').material_select();
    });
</script>


<script src="{% static 'js/peyment.js' %}"></script>




</body>

</html>
