<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>بازیابی رمز عبور</title>


    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style_reset_password.css' %}">


</head>

<body>

<div id="sc-password">
    <h1>بازیابی رمز عبور</h1>
    <div class="sc-container" style="background: #F0F0F0;">
        <form style="background: #F0F0F0;" method="POST">
            {% csrf_token %}
            <input style="background: #F0F0F0; direction: rtl;" type="email" name="email" maxlength="254" required
                   id="id_email" placeholder="ایمیل"/>
            <input type="submit" value="رمز عبور من را بازیابی کن"/>
        </form>
    </div>
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>


</body>

</html>
