<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>انتخاب سلف</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">


    <link rel="stylesheet" href="{% static 'css/style_wizard.css' %}">


</head>

<body style="background: black;">

<div class="landing-page">
    <div class="form-appointment">
        <div class="wpcf7" id="wpcf7-f560-p590-o1">
            <form method="post" class="wpcf7-form" novalidate="novalidate" _lpchecked="1">
                {% csrf_token %}
                <div style="display: none;">
                </div>
                <div class="group" style="text-align: center;">
                    <div>{{ msg }}</div>
                    <div style="width: 100%; float: none;">
                        <h4>سلف فعالتو انتخاب کن</h4>
                        {% for self_name in self_names %}
                            <p><span class="wpcf7-form-control-wrap checkbox-465"><span
                                class="wpcf7-form-control wpcf7-checkbox"><span class="wpcf7-list-item"><label><input
                                type="checkbox" id="{{ self_name }}" name="{{ self_name }}"
                                value="True">&nbsp;<span
                                    class="wpcf7-list-item-label">{{ self_name }}</span></label></span></span></span>
                            </p>

                        {% endfor %}
                        <input type="submit" value="ثبت" class="wpcf7-form-control wpcf7-submit">


                        <script src="{% static 'js/main_wizard.js' %}"></script>


</body>

</html>
