@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,700);
/* css class for the login generated errors */
@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: 300;
    src: url("font-awesome/fonts/iran_sans_web.ttf");
}

* {
    background: #cfc7b8;
}

.input {
    background: #F0F0F0;
}

.profilepress-reset-status {
    width: 400px;
    text-align: center;
    background-color: #cfc7b8;
    color: #0C0C0C;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

.memo-reset-success {
    width: 400px;
    text-align: center;
    background-color: #2ecc71;
    color: #0C0C0C;
    border: medium none;
    border-radius: 4px;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.4;
    padding: 8px 5px;
    margin: auto;
}

#sc-password {
    background: #f0f0f0;
    width: 400px;
    margin: 0 auto;
    margin-top: 8px;
    margin-bottom: 2%;
    transition: opacity 1s;
    -webkit-transition: opacity 1s;
}

#sc-password h1 {
    background: red;
    padding: 20px 0;
    font-family: iransans;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #0C0C0C;
}

div#sc-password .sc-container {
    background: #f0f0f0;
    padding: 6% 4%;
}

div#sc-password input[type="email"],
div#sc-password input[type="text"],
div#sc-password input[type="password"] {
    width: 92%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 4%;
    font-family: 'iransans', sans-serif;
    font-size: 95%;
    color: #555;
}

div#sc-password input[type="submit"] {
    width: 100%;
    background: red;
    border: 0;
    padding: 4%;
    font-family: 'iransans', sans-serif;
    font-size: 100%;
    color: #0C0C0C;
    cursor: pointer;
    transition: background .3s;
    -webkit-transition: background .3s;
}

div#sc-password input[type="submit"]:hover {
    background: red;
}